In [1]:
# for use in tutorial and development; do not include this `sys.path` change in production:
import sys ; sys.path.insert(0, "../")

## CSV on the Web implementation with `csvwlib`

In [2]:
import pandas as pd
import urlpath

url = urlpath.URL("http://w3c.github.io/csvw/tests/tree-ops.csv")
df = pd.read_csv(url)
df

,GID,On Street,Species,Trim Cycle,Inventory Date
0,1,ADDISON AV,Celtis australis,Large Tree Routine Prune,10/18/2010
1,2,EMERSON ST,Liquidambar styraciflua,Large Tree Routine Prune,6/2/2010

In [3]:
import kglab

kg = kglab.KnowledgeGraph()
kg.load_csv("http://w3c.github.io/csvw/tests/tree-ops.csv")
#kg.load_rdf("csvw.ttl", format="ttl")

In [4]:
rdf = kg.save_rdf_text(format="ttl")
print(rdf)

@prefix : <http://w3c.github.io/csvw/tests/tree-ops.csv#> .
@prefix ns1: <http://w3c.github.io/csvw/tests/tree-ops.csv#Inventory%> .
@prefix ns2: <http://w3c.github.io/csvw/tests/tree-ops.csv#On%> .
@prefix ns3: <http://w3c.github.io/csvw/tests/tree-ops.csv#Trim%> .

[] :GID "1" ;
    ns1:20Date "10/18/2010" ;
    ns2:20Street "ADDISON AV" ;
    :Species "Celtis australis" ;
    ns3:20Cycle "Large Tree Routine Prune" .

[] :GID "2" ;
    ns1:20Date "6/2/2010" ;
    ns2:20Street "EMERSON ST" ;
    :Species "Liquidambar styraciflua" ;
    ns3:20Cycle "Large Tree Routine Prune" .

In [6]:
subgraph = kglab.SubgraphTensor(kg)
pyvis_graph = subgraph.build_pyvis_graph(notebook=True)

pyvis_graph.force_atlas_2based()
pyvis_graph.show("tmp.fig03.html")

---

## RDF Property Reification examples

See:

  * <https://www.w3.org/wiki/RdfReification>
  * <https://www.w3.org/wiki/PropertyReificationVocabulary>
  * <https://www.w3.org/2007/02/turtle/primer/#L3155>
  * <https://www.slideshare.net/ntkimvinh7/www2014-singleton-propertyfinal>

In [7]:
kg = kglab.KnowledgeGraph(
    namespaces = {
        "ex": "http://example.com#",
        "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
    },
    )

In [8]:
rdf = """
@prefix ex: <http://example.com#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>.

ex:John ex:believes [
  a rdf:Statement;
  rdf:subject ex:earth ;
  rdf:predicate ex:shape ;
  rdf:object ex:round
  ] .
"""

In [9]:
kg.load_rdf_text(rdf)

In [10]:
kg.get_ns_dict()

{'dct': 'http://purl.org/dc/terms/',
 'owl': 'http://www.w3.org/2002/07/owl#',
 'prov': 'http://www.w3.org/ns/prov#',
 'rdfs': 'http://www.w3.org/2000/01/rdf-schema#',
 'schema': 'http://schema.org/',
 'sh': 'http://www.w3.org/ns/shacl#',
 'skos': 'http://www.w3.org/2004/02/skos/core#',
 'xsd': 'http://www.w3.org/2001/XMLSchema#',
 'ex': 'http://example.com#',
 'rdf': 'http://www.w3.org/1999/02/22-rdf-syntax-ns#'}

In [11]:
sparql = """
    SELECT ?subject ?x ?what ?how
    WHERE {
        ?subject ex:believes ?x .
        ?x rdf:subject ?what .
        ?x rdf:object ?how .
    }
    """

In [12]:
df = kg.query_as_df(sparql)
df

   subject            x      what       how
0  ex:John  _:ub2bL4C21  ex:earth  ex:round