In [1]:
import networkx as nx
import pandas as pd
import numpy as np

In [2]:
rng = np.random.RandomState(seed=5)
ints = rng.randint(1, 11, size=(3, 2))

src = ["A", "B", "C"]
dst = ["D", "A", "E"]

df = pd.DataFrame(ints, columns=["weight", "cost"])
df

   weight  cost
0       4     7
1       7     1
2      10     9

In [3]:
df["src"] = src
df

   weight  cost src
0       4     7   A
1       7     1   B
2      10     9   C

In [4]:
df["dst"] = dst
df

   weight  cost src dst
0       4     7   A   D
1       7     1   B   A
2      10     9   C   E

In [5]:
df[["weight", "cost", "src", "dst"]]

   weight  cost src dst
0       4     7   A   D
1       7     1   B   A
2      10     9   C   E

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
G = nx.DiGraph()

In [8]:
type(G)

networkx.classes.digraph.DiGraph

In [9]:
#G.from_cudf_edgelist(df, source="0", destination="b")
G = nx.from_pandas_edgelist(df, source="src", target="dst", create_using=G)

In [10]:
results = nx.pagerank(G)
results

{'A': 0.2236326340217236,
 'D': 0.31096973333120126,
 'B': 0.12088249931267583,
 'C': 0.12088249931267583,
 'E': 0.2236326340217236}