In [1]:
#import networkx as nx
import cugraph as nx

#import pandas as pd
import cudf as pd

import numpy as np

In [2]:
rng = np.random.RandomState(seed=5)
ints = rng.randint(1, 11, size=(3, 2))

a = ["A", "B", "C"]
b = ["D", "A", "E"]

df = pd.DataFrame(ints, columns=["weight", "cost"])
df

   weight  cost
0       4     7
1       7     1
2      10     9

In [3]:
df["0"] = a
df

   weight  cost  0
0       4     7  A
1       7     1  B
2      10     9  C

In [4]:
df["b"] = b
df

   weight  cost  0  b
0       4     7  A  D
1       7     1  B  A
2      10     9  C  E

In [5]:
df[["weight", "cost", "0", "b"]]

   weight  cost  0  b
0       4     7  A  D
1       7     1  B  A
2      10     9  C  E

In [6]:
type(df)

cudf.core.dataframe.DataFrame

In [12]:
G = nx.Graph()

In [13]:
type(G)

cugraph.structure.graph.Graph

In [16]:
G.from_cudf_edgelist(df, source="0", destination="b")

In [10]:
results = nx.pagerank(G)

results

   pagerank vertex
0  0.291894      A
1  0.154053      B
2  0.200000      C
3  0.154053      D
4  0.200000      E