In [1]:
import kglab
import pandas as pd
from sklearn import datasets

iris = datasets.load_iris()
df1 = pd.DataFrame(iris.data, columns=iris.feature_names)
df1.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [2]:
# normalize by column
df2 = df1.apply(lambda x: x/x.max(), axis=0)
df2.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.645570          0.795455           0.202899              0.08
1           0.620253          0.681818           0.202899              0.08
2           0.594937          0.727273           0.188406              0.08
3           0.582278          0.704545           0.217391              0.08
4           0.632911          0.818182           0.202899              0.08

In [3]:
bins = kglab.calc_quantile_bins(len(df2.index))
bins

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

In [4]:
# stripe each column to approximate a pareto front
stripes = [ kglab.stripe_column(values, bins) for _, values in df2.items() ]
df3 = pd.DataFrame(stripes).T
df3.head()

   0   1  2  3
0  5  16  2  4
1  2  10  2  4
2  1  13  1  4
3  1  11  4  4
4  4  17  2  4

In [5]:
# rank based on RMS of striped indices per row
df1["rank"] = df3.apply(kglab.root_mean_square, axis=1)
df1.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),rank
0,5.1,3.5,1.4,0.2,8.674676
1,4.9,3.0,1.4,0.2,5.567764
2,4.7,3.2,1.3,0.2,6.837397
3,4.6,3.1,1.5,0.2,6.204837
4,5.0,3.6,1.4,0.2,9.013878

In [6]:
round(df1.iloc[0]["rank"], 4) == 8.6747

True